<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <i class="fas fa-code"></i>
        CG
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        {% if app.user %}
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
                <a href="{{ path('message_index') }}" class="nav-link">Tableau de bord</a>
            </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav ml-auto align-items-center">
            {% if app.user %}
            <li class="nav-item">
                <a href="{{ path('message_index') }}">{{ app.user.fullName }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="accountDropDown" data-toggle="dropdown"><i
                        class="fas fa-user"></i></a>
                <div class="dropdown-menu dropdown-menu-right bg-light" aria-labelledby="accountDropDown">
                    <a class="dropdown-item" href="{{ path('message_index') }}">Tableau de bord</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('testimonial_new') }}">Soumettre un témoignage</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('account_password') }}">Mot de passe</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('account_logout') }}">Déconnexion</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ path('homepage') }}" class="nav-link">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}#services_homepage">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('training_index') }}">Formations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('portfolio_index') }}">Réalisations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#contactModal">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('apropos_index') }}">A propos</a>
            </li>
            <div class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#accountModal" role="button" aria-haspopup="true"
                    aria-expanded="true"><i class="fas fa-user"></i></a>
            </div>
            {% endif %}
        </ul>
    </div>
</nav>

{# Affiche les messages flash #}
{% for label, messages in app.flashes %}
<div class="container mt-3">
    <div class="alert alert-{{ label }}">
        {% for message in messages %}
        <p>{{ message | raw }}</p>
        {% endfor %}
    </div>
</div>
{% endfor %}

{# Modal form for contact #}
<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel"><i class="fas fa-envelope"></i> Envoyer un message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="contact" method="POST" action="{{ path('contact_index') }}"
                    class="bg-light p-3 m-5 rounded">
                    <div class="form-group">
                        <input type="text" id="contact_name" name="contact[name]" required="required"
                            class="form-control" placeholder="Indiquer votre nom">
                    </div>
                    <div class="form-group">
                        <input type="email" id="contact_email" name="contact[email]" required="required"
                            class="form-control" placeholder="Votre email">
                    </div>
                    <div class="form-group">
                        <textarea id="contact_message" name="contact[message]" required="required" class="form-control"
                            placeholder="Votre message" rows="8"></textarea>
                    </div>
                    <input type="hidden" id="contact__token" name="contact[_token]"
                        value="JLhs8XlnrH4EptPjj-KttWVy4_m1Vs-vurQoiX1SX6I">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary float-right"><i class="fas fa-paper-plane"></i>
                            Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{# Modal form for account #}
<!-- Modal -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accountModalLabel"><i class="fas fa-lock mr-3"></i>Authentification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="bg-light p-3 m-5 rounded">
                    <form action="{{ path('account_login') }}" method="post">
                        <div class="form-group mt-3">
                            {# <label for="email">Email</label> #}
                            <input type="text" name="_username" id="email" class="form-control"
                                placeholder="Saisir votre email" required>
                        </div>
                        <div class="form-group">
                            {# <label for="password">Mot de passe</label> #}
                            <input type="password" name="_password" id="password" class="form-control"
                                placeholder="Saisir votre mot de passe" required>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-lock-open mr-3"></i>Se
                                    connecter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>