{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

<div class="container">

    {% include 'partials/titlePage.html.twig' with {'titlePage' : 'Réalisations' } %}

        <p class="text-center">
        <a href="{{ path('portfolio_create') }}" class="btn btn-primary">Ajouter une référence</a>
    </p>

    <div class="row mt-3 justify-content-around">
        <!-- one ref -->
        {% for portfolio in portfolios %}
        <div class="col-md-4">
            <div class="card border-light mb-3" style="max-width: 20rem;">
                <h3 class="card-header">{{ portfolio.title }}</h3>
                <div class="card-body">
                    <h5 class="card-title">{{ portfolio.technology }}</h5>
                </div>
                <img style="height: 200px; width: 100%; display: block;" src="{{ portfolio.coverImage }}">
                <div class="card-body">
                    <p class="card-text">{{ portfolio.description | raw }}</p>
                </div>
                <div class="card-footer text-muted">
                    <a href="{{ portfolio.url }}" class="card-link">Démonstration</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- end one ref -->
    </div>
</div>
{% endblock %}