{% extends 'admin/base.html.twig' %}

{% block title %}Liste des messages{% endblock %}

{% block body %}

<div class="container-fluid">
    {% include 'admin/partials/titlePage.html.twig' with { 'titlePage' : 'Liste des messages' } %}

    <p class="text-center pb-5">
        <a href="{{ path('admin_message_new') }}" class="btn btn-primary">Ajouter un message</a>
    </p>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Objet</th>
                    <th scope="col">De</th>
                    <th scope="col" width="100px">Commandes</th>
                </tr>
            </thead>
            <tbody>
                {% for message in pagination.data %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.createdAt | date('d/m/Y') }}</td>
                    <td>{{ message.title }}</td>
                    <td>{{ message.author.fullName }}</td>
                    {# {% if (app.user and app.user == message.author) %} #}
                    <td class="text-center">
                        <a href="{{ path('admin_message_edit', { 'id' : message.id }) }}"><i
                                class="fas fa-edit fa-2x"></i></a>
                        &emsp;
                        <a href="{{ path('admin_message_delete', {'id' : message.id }) }}"><i
                                class="fas fa-trash fa-2x"></i></a>
                    </td>
                    {# {% endif %} #}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'admin/partials/pagination.html.twig' with {'route' : 'admin_message_index'} %}
    </div>
</div>
{% endblock %}