<div class="row">
    <div class="col">
        {{ form_row(form.title) }}
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        {{ form_row(form.objectives) }}
        {{ form_row(form.excerpt) }}
        {{ form_row(form.public) }}
    </div>

    <div class="col-md-4">
        {{ form_row(form.slug) }}
        {{ form_row(form.level) }}
        {{ form_row(form.duration) }}
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.program) }}
        {{ form_row(form.theme) }}
    </div>
</div>