    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.project) }}
            <br>
            {{ form_row(form.type) }}
            <br>
            {{ form_row(form.uploadFiles) }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <p class="text-center">
                <button type="submit" class="btn btn-primary">{{ titleButton }} le message</button>
            </p>
        </div>
    </div>
    {{ form_end(form) }}