{% extends 'base.html.twig' %}

{% block title %}Formations web et bureautique avancée{% endblock %}

{% block body %}

<div class="container">
    {% include 'partials/titlePage.html.twig' with {'titlePage' : 'Formations proposées'} %}
    <div class="row my-5 justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{{ path ('training_index') }}">
                <button type="button"
                    class="m-1 btn btn-{% if not idSource %}primary{% else %}secondary{% endif%}">Toutes</button>
            </a>
            {% for theme in themes %}
            <a href="{{ path('training_index') }}/filtre/{{theme.id}}">
                <button type="button"
                    class="m-1 btn btn-{% if theme.id == idSource %}primary{% else %}secondary{% endif %}">{{ theme.title }}</button>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="row my-5 justify-content-around">
        {% for training in trainings %}
        <!-- a card -->
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">{{ training.title }}</h3>
                <img style="max-height: 200px; width: 100%; display: block;" src="../../img/formation.jpg"
                    alt="Card image">
                <div class="card-body">
                    <p class="card-text">{{ training.excerpt }}
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <a href="{{ path('training_show', { 'slug' : training.slug }) }}" class="card-link">En savoir
                        plus</a>
                </div>
            </div>
        </div>
        <!-- end of a card -->

        {% endfor %}

    </div>
</div>
{% endblock %}