{% extends 'base.html.twig' %}

{% block title %}
{{ training.title }}
{% endblock %}

{% block body %}
<div class="container">

    {% include 'partials/titlePage.html.twig' with { 'titlePage' : training.title } %}

    <div id="content" class="row">
        <div class="col-md-3 my-3 py-3 bg-light rounded">            
                <h4>Présentation</h4>
                <p>{{ training.excerpt }}</p>
                {% if training.objectives  %}
                    <h4>Objectifs pédagogiques</h4>
                    <p>{{ training.objectives }}</p>
                {% endif %}
                {% if training.public %}
                    <h4>Public</h4>
                    <p class="">{{ training.public }}</p>
                {% endif %}
                {% if training.level %}
                    <h4>Niveau requis</h4>
                    <p>{{ training.level }}</p>
                {% endif %}
                <h4>Durée indicative</h4>
                <p>{{ training.duration }}</p>      
        </div>
        <div class="col-md-6 my-3 py-3">
            <h4>Programme (indicatif)</h4>
            <p>{{ training.program | markdown_to_html }}</p>
        </div>
        <div class="col-md-3 my-3 py-3 bg-light rounded">
            <h4>Sur le même thème</h4>
            <ul class="list-unstyled">
                {% for tr in trainings %}
                <a href="{{ path('training_show', {'slug': tr.slug }) }}">
                    <li>{{ tr.title }}</li>
                </a>
                {% endfor %}
            </ul>
            <div class="text-center">
                <a href="{{ path('training_index') }}" class="btn btn-primary">
                    Liste complète
                </a>

            </div>
        </div>
    </div>

</div>

{% endblock %}