{% extends 'base.html.twig' %}

{% block title %}
{{ training.title }}
{% endblock %}

{% block body %}
<div class="container">

    {% include 'partials/titlePage.html.twig' with { 'titlePage' : training.title } %}

    <div id="content" class="row">
        <div class="col-md-3 card border-primary mb-3">
            <div class="card-body">
                <h4 class="card-title">Présentation</h4>
                <p class="card-text">{{ training.excerpt }}</p>
                {% if training.objectives  %}
                <h4 class="card-title">Objectifs pédagogiques</h4>
                <p class="card-text">{{ training.objectives }}</p>
                {% endif %}
                {% if training.public %}
                <h4 class="card-title">Public</h4>
                <p class="card-text">{{ training.public }}</p>
                {% endif %}
                {% if training.level %}
                <h4 class="card-title">Niveau requis</h4>
                <p class="card-text">{{ training.level }}</p>
                {% endif %}
                <h4 class="card-title">Durée indicative</h4>
                <p class="card-text">{{ training.duration }}</p>
            </div>
        </div>
        <div class="col-md-6 my-3">
            <h3>Programme (indicatif)</h3>
            <p>{{ training.program | markdown_to_html }}</p>
        </div>
        <div class="col-md-3 my-3">
            <h3>Sur le même thème</h3>
            <ul class="list-unstyled">
                {% for tr in trainings %}
                <a href="{{ path('training_show', {'slug': tr.slug }) }}">
                    <li>{{ tr.title }}</li>
                </a>
                {% endfor %}
            </ul>
            <div class="text-center">
                <a href="{{ path('training_index') }}" class="btn btn-primary">
                    Liste complète
                </a>

            </div>
        </div>
    </div>

</div>

{% endblock %}