{% extends 'base.html.twig' %}

{% block title %}
{{ training.title }}
{% endblock %}

{% block body %}
<div class="container">
    
    {% include 'partials/titlePage.html.twig' with { 'titlePage' : training.title } %}

    <div id="content" class="row my-5 py5">
        <div class="col-md-3">
            <h3>Présentation</h3>
            <p>{{ training.excerpt }}</p>
            {% if training.objectives  %}
            <h3>Objectifs pédagogiques</h3>
            <p>{{ training.objectives }}</p>
            {% endif %}
            {% if training.public %}
            <h3>Public</h3>
            <p>{{ training.public }}</p>
            {% endif %}
            {% if training.level %}
            <h3>Niveau requis</h3>
            <p>{{ training.level }}</p>
            {% endif %}
            <h3>Durée indicative</h3>
            <p>{{ training.duration }}</p>

        </div>
        <div class="col-md-6">
            <h3>Programme (indicatif)</h3>
            <p>{{ training.program | markdown_to_html }}</p>
        </div>
        <div class="col-md-3">
            <h3>Sur le même thème</h3>
            <ul class="list-unstyled">
                {% for tr in trainings %}
                     <a href="{{ path('training_show', {'slug': tr.slug }) }}"> 
                        <li>{{ tr.title }}</li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}