{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}{% endblock %}

{% block body %}

<div class="col mx-5">
    <div class="row">
        <div class="col-12">
            {% include 'partials/titlePage.html.twig' with {'titlePage' : 'Tableau de bord'} %}
        </div>
    </div>
    <div class="row mb-3 p-3 bg-light rounded">
        <div class="col-md-7 bg-white p-3 rounded">
            <h5 class="mb-3"><i class="fas fa-filter"></i> Filtrer les messages</h5>
            {{ form_start(form) }}
            <div class="row">
                <div class="col">{{ form_widget(form.project) }}</div>
                <div class="col">{{ form_widget(form.type) }}</div>
            </div>
                <button class="btn btn-primary">Filtrer</button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-3">
            <h5>Statistiques</h5>
            <p class="">
                <span class="badge badge-primary">{{ user.messages | length }}</span> messages publiés.
            </p>
            <p class="mb-5">
                <span class="badge badge-primary">{{ user.messages | length }}</span> fichiers.
            </p>
        </div>
        <div class="col-md-2">
            <a type="button" class="btn btn-primary mb-3" href="{{ path('account_logout') }}">Déconnexion</a><br>
            <a type="button" class="btn btn-secondary" href="{{ path('admin_message_new') }}">Ajouter un message</a>
        
        </div>


    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">Objet</th>
                        <th scope="col">Projet</th>
                        <th scope="col">Type</th>
                        <th scope="col" width="100px">Commandes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                    <tr>
                        <td>
                            <strong>{{ message.title }}</string> <br>
                                <small>de {{ message.author.fullName }} le {{ message.createdAt | date('d/m/Y') }} à
                                    {{ message.createdAt | date('H\\hi') }}</small>
                        </td>
                        <td>{{ message.project.title }}</td>
                        <td>{{ message.type.title }}</td>
                        {% if (app.user and app.user == message.author) %}
                        <td class="text-center">
                            <a href="{{ path('admin_message_edit', { 'id' : message.id }) }}"><i
                                    class="fas fa-file fa-2x"></i></a>
                            &emsp;
                            <a href="{{ path('admin_message_delete', {'id' : message.id }) }}"><i
                                    class="fas fa-trash fa-2x"></i></a>
                        </td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(
                    messages ) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}